enable_loop 127.0.0.1/8 127.0.0.1/8 ANY ANY ANY ACCEPT ANY
rule_1 10.0.1.3/32 ANY ANY ANY ANY ACCEPT ANY
rule_2 ANY 10.0.1.3/32 ANY ANY ANY ACCEPT ANY
rule_3 10.0.2.3/32 ANY ANY ANY ANY ACCEPT ANY
rule_4 ANY 10.0.2.3/32 ANY ANY ANY ACCEPT ANY
rule_5 10.0.2.15/32 ANY ANY ANY ANY ACCEPT ANY
rule_6 ANY 10.0.2.15/32 ANY ANY ANY ACCEPT ANY
any_any_drop ANY ANY ANY ANY ANY DROP ANY
